<h1>Home Page</h1>

<br>
 <div>
        <% if flash[:notice] %>
        <div class="alert alert-success"><%= flash[:notice] %></div>
        <% end %>
        <% if flash[:alert] %>
        <div class="alert alert-danger"><%= flash[:alert] %></div>
        <% end %>
    </div>
<div>
    <%= link_to "Sign up", new_account_path, class: "btn btn-primay" %>    
</div>
<div>
    <%= link_to "Forgot Password", new_forgot_password_path, class: "btn btn-primary" %>
</div>